@import "tailwindcss";

.SkillTreeNode::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  width: 2px;
  height: 20px;
  background-color: #4ade80; /* green line */
  transform: translateX(-50%);
}
